[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
requests = "*"
python-statemachine = "*"
docker = "*"
fastapi-restful = "*"
fastapi-utils = "*"
typing-inspect = "*"
pydantic-settings = "*"

[dev-packages]
pytest = "*"
httpx = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.7"
